@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url("https://i.gifer.com/Ozx.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
} 

.box {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    backdrop-filter: blur(10px);
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 80px;
  }

  .weather-info {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: #333;
  }
  
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #search {
    text-align: center;
    margin-top: 1rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url("your-blurred-background-image.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  